<div class="student-container">
  <div class="student-info">
    <h2>Student Information</h2>
    <p><strong>Name:</strong> {{ student.name }}</p>
    <p><strong>Surname:</strong> {{ student.surname }}</p>
    <p><strong>Subjects:</strong></p>
    <ul>
      <li *ngFor="let subject of student.subjects">{{ subject.subjectName }}</li>
    </ul>
    <p><strong>Field:</strong> {{ student.field }}</p>
    <p><strong>Personality Traits:</strong></p>
    <ul>
      <li *ngFor="let trait of student.personalityTraits">{{ trait }}</li>
    </ul>
    <button (click)="setPersonalityTraits()" class="btn">Change personality traits</button>
  </div>

  <div class="student-properties">
    <h3>Learning methods</h3>
    <ul>
      <li *ngFor="let method of learningMethods">{{ method }}</li>
    </ul>
    <div class="actions">
      <button (click)="requestLearningMethod1()" class="btn">Get learning method based on field and personality traits</button>
      <button style="margin-top: 5px;" (click)="requestLearningMethod2()" class="btn">Get learning method based on subjects and personality traits</button>
      <button style="margin-top: 5px;" (click)="chooseLearningMethod()" class="btn">Set learning method</button>
    </div>
  </div>
</div>