<div class="login-container">
    <form (submit)="login()">
        <div class="input-field">
            <input type="text" id="username" name="username" placeholder="Username" [(ngModel)]="username" required>
        </div>
        <div class="input-field">
            <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="password" required>
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
    <button style="background-color: rgb(255, 255, 255); color: black"  class="btn">Registration</button>
</div>